<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<title>概述</title>
<link rel="stylesheet" type="text/css" href="{% static "css.css" %}"></link>
<script type="text/javascript" src="{% static "js.js" %}"></script>
</head>
<body class="body">
{% include '_head.html' %}
<div class="content">
  <div class="sub_nav">
      {% include 'vh/_sub_nav.html' %}
      <script language="javascript" type="text/javascript">
      document.getElementById('sub2').style.cssText += "background:#FFFFFF;width:148px;border-bottom:#9bcff7 2px solid;";
      </script>
  </div>
  <div class="contentBox">
    {% include '_mes.html' %}
    {% include 'vh/_date.html' %}
    <br />
    <form action="/virtualHost/summary/" class="" method="POST">
    <label>查询时间段:</label>
    从<input type="text" name="sDate1" id="sDate1" value="" size="10" onClick="return Calendar('sDate1','sDate2');" />
    至<input type="text" name="sDate2" id="sDate2" value="" size="10" onClick="return Calendar('sDate2');" />
    <input type="submit" value="查询"></input>
    </form>
    <br />
    统计起始时间:{{ projectUsage.start }}<br />
    统计结束时间:{{ projectUsage.stop }}<br />
    统计计小时数:{{ projectUsage.total_hours }}<br />
    总计CPU用时:{{ projectUsage.total_vcpus_usage }}<br />
    总计内存用量:{{ projectUsage.total_memory_mb_usage }}<br />
    总计 GB 用时:{{ projectUsage.total_local_gb_usage }}<br />
    <br /><br />
    <table>
      <tr>
        <td>name</td>
        <td>vcpus</td>
        <td>flavor</td>
        <td>vcpus</td>
        <td>memory_mb</td>
        <td>local_gb</td>
        <td>uptime</td>
        <td>hours</td>
        <td>state</td>
        <!--<td>start_at<br />end_at</td>-->
      </tr>
    {% for serverUsage in serverUsageList %}
       <tr>
        <td>{{ serverUsage.name }}</td>
        <td>{{ serverUsage.vcpus }}</td>
        <td>{{ serverUsage.flavor }}</td>
        <td>{{ serverUsage.vcpus }}</td>
        <td>{{ serverUsage.memory_mb }}</td>
        <td>{{ serverUsage.local_gb }}</td>
        <td>{{ serverUsage.uptime }}</td>
        <td>{{ serverUsage.hours }}</td>
        <td>{{ serverUsage.state }}</td>
        <!--<td>{{ serverUsage.started_at }}<br />{{ serverUsage.ended_at }}</td>-->
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% include '_foot.html' %}
</body>
</html>