<ul>
  <a href="/virtualHost/project/select/"><li id="sub1">选择项目</li></a>
  <a href="/virtualHost/summary/"><li id="sub2">概要</li></a>
  <a href="/virtualHost/server/list/"><li id="sub3">虚拟主机</li></a>
  <a href="/virtualHost/image/list/"><li id="sub5">镜像</li></a>
  <a href="/virtualHost/volume/list/"><li id="sub4">卷</li></a>
  <a href="/virtualHost/snapshot/list/"><li id="sub6">快照</li></a>
  <a href="/virtualHost/flavor/list/"><li id="sub7">配额</li></a>
  <a href="/virtualHost/access/list/"><li id="sub8">访问地址</li></a>
  <a href="/virtualHost/keypair/list/"><li id="sub9">密钥对</li></a>
  <a href="/virtualHost/security/list/"><li id="sub10">安全组</li></a>
</ul>