<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
{{ testName }}
{{ temp }}
eeeeee:<br />
{% if messages %}
<ul class="messages">
    {% for mess in messages %}
    <!--<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
    <li>{{ mess }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>