<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
fieldset {
 margin:5px;
 padding:0 12px 12px 12px;
 border:1px solid #D4D4D4;
 background-color:#F9F9F9;
}
legend {
 font-weight:bold;
}
</style>

</head>

<body>
时间:<input type="text" name="sDate1" id="sDate1" value="" size="10" onClick="return Calendar('sDate1','sDate2');" />
至<input type="text" name="sDate2" id="sDate2" value="" size="10" onClick="return Calendar('sDate2');" />
<br />
</body>
</html>