<html>
<head>
	<meta charset="UTF-8"/>
	<title>发送消息</title>
</head>
<body>
<center>
<form action='' method='post'>
<table>
	<tr>
		<td>收信人</td>
		<td><input type='text' name='receiver'/>
	</tr>
	<tr>
		<td>消息类型</td>
		<td>
			<select name='catatory'>
			</select>
		</td>
	</tr>
	<tr>
		<td>标题</td>
		<td><input type='text' name='subject'/>
	</tr>
	<tr>
		<td>内容</td>
		<td><input type='textarea' name='content'/>
	</tr>
	<tr>
		<td></td>
		<td><input type='submit' name='send' value='发送'/>
	</tr>
</table>
</form>
</center>
</body>
</html>