<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<title>数据分析</title>
<link rel="stylesheet" type="text/css" href="{% static "css.css" %}"></link>
<script type="text/javascript" src="{% static "js.js" %}"></script>
</head>
<body class="body">
{% include '_head.html' %}
<div class="content">
  <div class="sub_nav">
      {% include 'dp/_sub_nav.html' %}
      <script language="javascript" type="text/javascript">
      document.getElementById('sub3').style.cssText += "background:#FFFFFF;width:148px;border-bottom:#9bcff7 2px solid;";
      </script>
  </div>
  <div class="contentBox">
    {% include '_mes.html' %}
    当前数据集共{{ count }}个文件
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/dataProcessing/collection/clear/" >清空</a>
    <br />
    {% for file in fileList %}
      <form action="/dataProcessing/collection/del/" method="POST">
        {{ file }}
        <input type="text" name="file" value="{{ file }}" style="display:none"></input>
        <input type="submit" value="去除"></input>
      </form>
    {% endfor %}
  </div>
</div>
{% include '_foot.html' %}
</body>
</html>