<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<title>pei e</title>
<link rel="stylesheet" type="text/css" href="{% static "css.css" %}"></link>
<script type="text/javascript" src="{% static "js.js" %}"></script>
</head>
<body class="body">
{% include '_head.html' %}
<div class="content">
  <div class="sub_nav">
      {% include 'vh/_sub_nav.html' %}
      <script language="javascript" type="text/javascript">
      document.getElementById('sub7').style.cssText += "background:#FFFFFF;width:148px;border-bottom:#9bcff7 2px solid;";
      </script>
  </div>
  <div class="contentBox">
    {% include '_mes.html' %}
  <table>
  <tr>
    <td>name</td>
    <td>vcpus</td>
    <td>ram</td>
    <td>disk</td>
    <td>swap</td>
    <td>public</td>
    <td>rxtx</td>
  </tr>
  {% for flavor in flavorList %}
  <tr>
    <td>{{ flavor.name }}</td>
    <td>{{ flavor.vcpus }}</td>
    <td>{{ flavor.ram }}</td>
    <td>{{ flavor.disk }}</td>
    <td>{{ flavor.swap }}</td>
    <td>{{ flavor.public }}</td>
    <td>{{ flavor.rxtx }}</td>
  </tr>
  {% endfor %}
  </table>
  </div>
</div>
{% include '_foot.html' %}
</body>
</html>