<html>
<head>
	<title>登录</title>
</head>
<body>
<center>
{% if messages %}
<ul>
    {% for message in messages %}
    <li >{{ message.tags }}:{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<fieldset>
<form method="post" action="/billing/login">{% csrf_token %}
	<table>
		<tr>
			<td>用户名：</td>
			<td><input type="text" name="user"/></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input type="password" name="pwd"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit" value="登录"></td>
		</tr>
	</table>

	
</form>
</fieldset>
</center>
</body>
</html>