<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<title>个人资料</title>
<link rel="stylesheet" type="text/css" href="{% static "css.css" %}"></link>
<script type="text/javascript" src="{% static "js.js" %}"></script>
</head>
<body class="body">
{% include '_head.html' %}
  <div class="content">
    <div class="sub_nav">
      {% include 'my/_sub_nav.html' %}
      <script language="javascript" type="text/javascript">
      document.getElementById('sub2').style.cssText += "background:#FFFFFF;width:147px;border-bottom:#9bcff7 2px solid;";
      </script>
    </div>
    <div class="contentBox">
      {% include '_mes.html' %}
      {% if shiming %}
        <label>登录帐号：</label><label>{{ lName }}</label><br />
        <label>帐号类型：</label>
        {% if master %}
          <label>子帐号，附属于{{ master }}</label>
        {% else %}
          <label>主帐号</label>
        {% endif %}
        <br />
        <label>认证邮箱：</label>{{ email }}<br />
        <label>真实姓名：</label>{{ realName }}<br />
        <label>身份证号：</label>{{ identi }}<br />
        <label>手机号码：</label>{{ mobile }}<br />
        <label>工作单位：</label>{{ company }}<br />
        <label>通讯地址：</label>{{ address }}<br />
        <label>认证时间：</label>{{ createTime }}<br />
        {% if not master %}
          <a href="/my/rnta/" >修改认证信息</a>
        {% endif %}
      {% else %}
        该帐号未进行实名认证。
        {% if not master %}
        <a href="/my/rnta/" >进行认证</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% include '_foot.html' %}
</body>
</html>